export(check.path)
export(clean.str)
export(comp)
export(correlation)
export(cross.jaccard)
export(curve.group.plot)
export(curve.plot)
export(get.tutorialdir)
export(histPlot)
export(jaccard)
export(read.bat)
export(read.curves)
export(read.grp.curves)
export(read.ini)
export(read.ppa.lsm)
export(read.result.rasters)
export(require.package)
export(selection.coverage)
export(set.tutorialdir)
exportClasses(Zproject)
exportClasses(Zvariant)
exportMethods(getvariant)
exportMethods(nvariants)
exportMethods(opendir)
exportMethods(plot)
